.table {
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

.table th {
    text-align: center;
}

.table td {
    vertical-align: middle;
}

.form-control {
    border-radius: 10px;
}